body {
  margin: 0;
  background: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.controls {
  padding: 10px;
  background: #111;
}

textarea {
  width: 100%;
  height: 80px;
  background: #000;
  color: white;
  border: 1px solid #444;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

label {
  display: block;
  margin-top: 10px;
}

canvas {
  display: block;
  width: 100%;
}
